.aboutDtlCard {
  background: gray;
  border-radius: 2px;
  height: 700px;
  margin: 1rem;
  position: relative;
  width: 700px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  color: whitesmoke;
}

.aboutDtlCard > .content {
  padding-top:100px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.aboutMe {
  padding: 20px;
}

/* .aboutDtlCard > .content > p {
  list-style-type: none;
}

.aboutDtlCard > .content > p {
  margin-top: 18px;
} */

